# zygote need to be started after otapreopt which will be done on post-fs-data
on zygote-start

    # for UART
    chmod 0666 /dev/ttyS9
    # for RS232
    chmod 0666 /dev/ttyS3
    # for RS485
    chmod 0666 /dev/ttyS0
